<%- include("partials/header"); %>
<div class="art-main">
  <div class="button-group">
    <a href="/create-write"><i class="fas fa-plus"></i>Create Post</a>
  </div>
  <div class="all-arts">
    <h1>All Art Posts</h1>
  </div>
</div>
<%- include("partials/footer"); %>
