<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOCH LOGIN</title>
    <link rel="stylesheet" href="CSS/login.css">
</head>
<body>
    <main>
        <img src="assets/SOCH-logo.jpeg" class="logo" alt="SOCH LOGO">
        <h2>REGISTER</h2>
        <form action="/register" method="post">
            <div class="form-group">
                <label for="email">Email</label><br>
                <input type="email" autofocus name="username" id="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label><br>
                <input type="password" name="password" id="password">
            </div>
            <button class="submit-btn" type="submit">register</button>
        </form>
    </main>
</body>
</html>