@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root{
    --font-sans: 'Poppins', sans-serif;
    --font-serif: 'Playfair Display', serif;
    --font-mon-sans: 'Montserrat', sans-serif; 
    --blue: #6675df;
    --dark-grey: #333;
    --mid-grey: #555;
    --light-grey: #e6e6e6
}
.writing-main, .art-main, .event-main{
    min-height: 90vh;
}
.button-group{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    justify-content: flex-end;
    margin: 1vw 4vw 1vw auto;
    width: 17%;
}
.button-group a{
    /* background: linear-gradient(45deg, rgb(7, 30, 61), rgb(0, 173, 181)); */
    background: var(--dark-grey);
    border-radius: 2vw;
    padding: .5vw 2vw;
    color: white;
    text-decoration: none;
}
.button-group a:hover{
    background: var(--blue);
}
.button-group a i{
    margin-right: .5vw;
}
.all-posts, .all-arts{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    margin-bottom: 6vw;
}
.all-posts h1, .all-arts h1, .all-events h1{
    text-align: center;
    letter-spacing: 1px;
    font-family: var(--font-serif);
}
.create-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5vw;
}
.form-group label{
    font-weight: bold;
}
.form-group input,
.form-group textarea{
    width: 70vw;
    font-family: var(--font-sans);
}
table{
    border-collapse: collapse;
}
td, th{
    text-align: center;
    border: 1px solid var(--light-grey);
}
tr:nth-child(even) {
    background-color: var(--light-grey);
  }
.read-more{
    font-size: 1vw;
    text-decoration: none;
    color: var(--blue);
}
.submit-btn{
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    height: 3vw;
    margin-top: 1.5vw;
    background: var(--dark-grey);
    border: none;
    border-radius: .5vw;
    cursor: pointer;
    margin-bottom: 3vw;
    color: white;
}
.submit-btn:hover{
    background: var(--blue);
}
.post-more{
    width: 80%;
    margin: auto;
}